# Node
node_modules/
npm-debug.log*
package-lock.json

# Anna App
.anna/
.anna-app/
dev.key

# Build output
dist/
bundle/
*.exe
*.test
*.tar.gz
*.zip

# Go compiled binaries
executas/**/bin/
executas/notes-summarizer/notes-summarizer
executas/notes-summarizer/notes-summarizer.exe
executas/*/mini-notes-*
executas/*/*.wasm

# Logs
*.log

# OS
.DS_Store
